.env
node_modules/
bun.lock
.DS_Store
*.log
# VSCode
.vscode/
# Mac system files
.DS_Store
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
# Audio files
audio-generation/ 